body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardCenterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.marginS {
  margin: 5% 5%;
}

.toolbar{
  min-width: 48px !important;
}
